<!doctype html>

<html lang="en">
<head>
    <title>Something Something</title>
    <style type="text/css">
        button
        {
            border: 0;
            background-color: #3730d8;
            color: #fff;
            cursor: pointer;
            font-weight: bold;
            border-radius: 4px;
            transition: all 0.1s linear;
        }

        button:hover
        {
            color: #ffd800;
        }

        button:active
        {
            transform: translateY(3px);
        }
       
    </style>
</head>

<body>


    <button>Awesome Button</button>

</body>
</html>