<html>

<head>
    <title>Welcome to Philly.NET Code Camp 2014.1</title>

    <style type="text/css">
        body {
            color: #fff;
            background-color: #b7774c;
        }

        a {
            color: #3a3dcc;
        }
    </style>


</head>
<body>
    <h1>Welcome to Philly.NET Code Camp 2014.1</h1>
    <ul>
        <li><a href="/CodeCamp/HelloWorld">Hello World Demo</a></li>
        <li><a href="/CodeCamp/ButtonDemo">Button Demo</a></li>
        <li><a href="/CodeCamp/BoxDemo">Box Demo</a></li>
    </ul>

</body>


</html>